.connect-shopify-container{
  .akko-logo{
    width: 54px;
    height:54px
  }
  .first-section{
    margin-top: 54px
  }
  .main-heading{
    font-size: 32px;
    font-weight: 700;
    color:$highlight-color
  }
  .info{
    font-size: 20px;
    color:$highlight-color;
    margin: 43px 0 37px;
    font-weight: 500
  }
  .login-button{
   color:$highlight-color;
   font-weight:600
  }
  #wrapper{
    text-align: center
  }
  .signup-email-input{
    width:165px
  }
}
.shopify-comment {
  font-size: $size-20;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
}
.shopify-input-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shopify-icon {
  width: 37px;
  height: 37px;
  margin-right: 10px;
  margin-bottom: 40px
}
.shopify-url-text {
  font-size: 16px;
  color: $highlight-color;
  text-decoration: none solid $highlight-color;
  text-align: center;
  margin-left: 5px;
}
.shopify-instruction-text {
  font-size: $size-16;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
}
.bubble-alert-view {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.alert-text {
  color: $pure-red;
  font-size: $size-14;
  text-decoration: none solid $main-blue-color;
  text-align: center;
  margin-left: 15px;
}
.red-mark {
  color: $pure-red;
  margin-left: 5px;
}
.account-setup-header {
  text-align: right;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray-color;
}
.devider {
  border-bottom: 1px solid $light-gray-color;
}
.account-comment {
  font-family: $ubuntu-bold;
  font-size: $size-24;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
}
.select-style-text {
  font-size: $size-24;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
}
.login-layout {
  .select-style-text {
    sup {
      cursor: pointer;
      margin: -3px;
      top: -12px;
      span {
        border: 1px solid $light-gray-color-1;
        border-radius: 12px;
        font-size: 12px;
        padding: 0.5px 5.5px;
      }
    }
    sup:hover + .cogs-tips {
      display: block;
    }
    .cogs-tips {
      display: none;
      position: absolute;
      top: 30px;
      left: 120px;
      z-index: 1;
    }
  }
}

.select-style-comment {
  font-size: $size-16;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
}
.select-style-comment-small {
  font-size: $size-14;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
}
.style-container {
  width: 500px;
  height: 82px;
  border: 1px solid $light-gray-color;
  border-radius: 5px;
  background-color: $main-background-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.style-container:hover {
  border: 2px solid $light-gray-color;
  cursor: pointer;
}
.active-border {
  width: 500px;
  height: 82px;
  border-radius: 5px;
  background-color: $main-background-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid $smooth-grey;
  cursor: pointer;
}
.style-icon-view {
  width: 60px;
  height: 60px;
  border: 1px solid $light-gray-color;
  border-radius: 5px;
  background-color: $main-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.business-icon {
  width: 50px;
  height: 50px;
}
.style-text-view {
  width: 408px;
  font-size: $size-14;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-text-large {
  font-size: $size-16;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
}
.select-text-small {
  font-size: $size-14;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
  font-weight: lighter;
}

.description-view {
  font-size: 14px;
  width: 253px;
  border: 1px solid $light-gray-color;
  border-radius: 5px;
  background-color: $main-background-color;
  padding: 3px;
}
.center-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-one-view {
  display: flex;
  flex-direction: row;
}
.step-title {
  font-family: $ubuntu-bold;
  font-size: $size-14;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
}
.step-content {
  font-size: $size-14;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
}
.content-center {
  width: 508px;
}
.drag-view {
  width: 508px;
  height: 201px;
  border: 1px solid $light-gray-color;
  border-radius: 5px;
  background-color: $dull-white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.drag-text {
  font-size: $size-20;
  color: $light-gray-color;
  text-decoration: none solid $light-gray-color;
  text-align: center;
}
.table-center {
  width: 668px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.markup-center {
  width: 668px;
  display: flex;
  justify-content: center;
}
.markup-input {
  width: 68px;
  height: 28px;
  border: 1px solid $light-gray-color;
  border-radius: 5px;
  background-color: $pure-white;
  margin-left: 10px;
}
.height-center {
  align-items: center;
}
.left-padding {
  padding-left: 50px;
}
.product-view {
  width: 668px;
  height: 80px;
  padding: 6px 10px;
  background-color: $dull-white;
  box-shadow: 0 1px 2px rgba($pure-black, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blank-image-icon {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
.product-text-view {
  width: 371px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.product-title {
  font-size: $size-16;
  color: $dark-purple;
  text-decoration: none solid $main-decoration-color;
}
.product-type {
  font-size: $size-12;
  color: $pure-black;
  text-decoration: none solid $pure-black;
}
.product-price-front {
  font-size: $size-12;
  color: $pure-black;
  text-decoration: none solid $pure-black;
  margin-left: 40px;
}
.product-price-back {
  width: 61px;
  height: 18px;
  font-size: $size-16;
  color: $pure-black;
  text-decoration: none solid $pure-black;
  margin-left: 5px;
}
.product-currency {
  font-size: $size-24;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
  text-align: center;
}
.currency-view {
  display: flex;
  flex-direction: column;
}
.product-currency-text {
  font-size: $size-12;
  color: $light-gray-color-1;
  text-decoration: none solid $light-gray-color-1;
}
.product-input {
  width: 90px;
  height: 56px;
  border: 1px solid $light-gray-color;
  border-radius: 5px;
  background-color: $main-background-color;
  margin-left: 5px;
}
.set-table-header {
  color: $dark-purple;
  font-size: 18px;
  font-weight: normal;
}
.set-cogs-header {
  color: $light-blue-shade;
  font-size: 14px;
  font-weight: normal;
  margin-right: 0px;
}
.react-bs-table {
  height: unset !important;
}
.no-border {
  border: 0px solid $light-gray-color;
}

.tip-icon {
  margin-top: 40px;
  height: 24px;
}

.product-listed-price {
  font-family: Ubuntu;
  font-size: 20px;
  color: $main-blue-color;
  font-weight: 400;
  text-decoration: none solid $main-blue-color;
  text-align: center;
}

.cogs-pending {
  width: 43px;
  height: 43px;
  fill: $light-gray-color;
  background-image: url("../assets/images/cogs_pending.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-size: contain;
  position: absolute;
  margin-left: 25px;
  margin-top: 5px;
}

.cogs-completed {
  width: 43px;
  height: 43px;
  fill: $light-gray-color;
  background-image: url("../assets/images/cogs_completed.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-size: contain;
  position: absolute;
  margin-left: 25px;
  margin-top: 5px;
}

.ant-progress-bg {
  border-radius: 0px !important;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.margin-0 {
  margin-right: 0;
  margin-left: 0;
}

.tipbox-text {
  font-size: 14px;
}

@media only screen and (max-width: 1300px) {
  .set-cogs-header {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1100px) {
  .set-cogs-header {
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  .set-cogs-header {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 767px) {
  .set-cogs-header {
    font-size: 0.7em;
  }
  .cogs-page-button {
    font-size: 12px;
    padding: 5px 7px;
    .btn-icon {
      padding-right: 3px;
      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .set-cogs-header {
    font-size: 0.6em;
  }
  .select-style-comment-small {
    font-size: $size-12;
  }
}
