.shopify-comment {
	font-family: $ubuntu-regular;
	font-size: $size-20;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
}
.shopify-input-view {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}
.shopify-icon {
	width: 37px;
	height: 37px;
	margin-right: 10px;
}
.shopify-url-text {
	font-family: $ubuntu-regular;
	font-size: $size-20;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
	margin-left: 5px;
}
.shopify-instruction-text {
	font-family: $ubuntu-regular;
	font-size: $size-16;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
}
.bubble-alert-view {
	height: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
.alert-text {
	color: #822510;
	font-family: $ubuntu-regular;
	font-size: $size-14;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
	margin-left: 15px;
}
.red-mark {
	color: #822510;
	margin-left: 5px;
}
.account-setup-header {
	text-align: right;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid $light-gray-color;	
}
.account-comment {
	font-family: $ubuntu-bold;
	font-size: $size-24;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
}
.select-style-text {
	font-family: $ubuntu-regular;
	font-size: $size-24;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
}
.select-style-comment {
	font-family: $ubuntu-regular;
	font-size: $size-16;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
}
.select-style-comment-small {
	font-family: $ubuntu-regular;
	font-size: $size-14;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
}
.style-container {
	width: 500px;
	height: 82px;
	border: 1px solid $light-gray-color;
	border-radius: 5px;
	background-color: $main-background-color;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}
.style-container:hover {
	border: 2px solid $light-gray-color;
	cursor: pointer;
}
.active-border {
	width: 500px;
	height: 82px;
	border-radius: 5px;
	background-color: $main-background-color;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid #aaaaaa;
	cursor: pointer;
}
.style-icon-view {
	width: 60px;
	height: 60px;
	border: 1px solid $light-gray-color;
	border-radius: 5px;
	background-color: $main-background-color;
	display: flex;
	justify-content: center;
	align-items: center;
}
.business-icon {
	width: 50px;
	height: 50px;
}
.style-text-view {
	width: 408px;
	font-family: $ubuntu-regular;
	font-size: $size-14;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.select-text-large {
	font-family: $ubuntu-regular;
	font-size: $size-16;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
}
.select-text-small {
	font-family: $ubuntu-regular;
	font-size: $size-14;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
	font-weight: lighter;
}
.skip-button {
	width: 119px;
	height: 29px;
	padding: 6px 10px;
	background-color: $white-color;
	font-family: $ubuntu-regular;
	font-size: $size-14;
	color: $light-gray-color;
	text-decoration: none solid $main-decoration-color;
	text-align: center;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 0;
}
.skip-button:active,
.skip-button:hover,
.skip-button:focus,
.skip-button:active:focus {
	width: 119px;
	height: 29px;
	padding: 6px 10px;
	background-color: $white-color;
	font-family: $ubuntu-regular;
	font-size: $size-14;
	color: $light-gray-color;
	text-decoration: none solid $main-decoration-color;
	text-align: center;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	outline: 0;
	border: none;
	border-radius: 0;
}
.description-view {
	width: 217px;
	border: 1px solid $light-gray-color;
	border-radius: 5px;
	background-color: $main-background-color;
	padding: 10px;
}
.center-view {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.step-one-view {
	display: flex;
	flex-direction: row;
}
.step-title {
	font-family: $ubuntu-bold;
	font-size: $size-14;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
}
.step-content {
	font-family: $ubuntu-regular;
	font-size: $size-14;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
}
.content-center {
	width: 508px;
}
.drag-view {
	width: 508px;
	height: 201px;
	border: 1px solid $light-gray-color;
	border-radius: 5px;
	background-color: #fbfbfb;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.drag-text {
	font-family: $ubuntu-regular;
	font-size: $size-20;
	color: $light-gray-color;
	text-decoration: none solid rgb(200, 200, 232);
	text-align: center;
}
.table-center {
	width: 668px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.markup-center {
	width: 668px;
	display: flex;
	justify-content: center;
}
.markup-input {
	width: 68px;
	height: 28px;
	border: 1px solid $light-gray-color;
	border-radius: 5px;
	background-color: $white-color;
	margin-left: 10px;
}
.height-center {
	align-items: center;
}
.left-padding {
	padding-left: 50px;
}
.product-view {
	width: 668px;
	height: 80px;
	padding: 6px 10px;
	background-color: #fbfbfb;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	align-items: center;
}
.blank-image-icon {
	width: 60px;
	height: 60px;
	margin-left: 10px;
}
.product-text-view {
	width: 371px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}
.product-title {
	font-family: $ubuntu-regular;
	font-size: $size-16;
	color: #1d2fb5;
	text-decoration: none solid $main-decoration-color;
}
.product-type {
	font-family: $ubuntu-regular;
	font-size: $size-12;
	color: $black-color;
	text-decoration: none solid rgb(0, 0, 0);
}
.product-price-front {
	font-family: $ubuntu-regular;
	font-size: $size-12;
	color: $black-color;
	text-decoration: none solid rgb(0, 0, 0);
	margin-left: 40px;
}
.product-price-back {
	width: 61px;
	height: 18px;
	font-family: $ubuntu-regular;
	font-size: $size-16;
	color: $black-color;
	text-decoration: none solid rgb(0, 0, 0);
	margin-left: 5px;
}
.product-currency {
	font-family: $ubuntu-regular;
	font-size: $size-24;
	color: $main-blue-color;
	text-decoration: none solid rgb(87, 93, 222);
	text-align: center;
}
.currency-view {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
.product-currency-text {
	font-family: $ubuntu-regular;
	font-size: $size-12;
	color: #c8c8c8;
	text-decoration: none solid rgb(200, 200, 200);
}
.product-input {
	width: 123px;
	height: 56px;
	border: 1px solid $light-gray-color;
	border-radius: 5px;
	background-color: $main-background-color;
	margin-left: 5px;
}
.set-table-header {
	color: #1d2fb5;
}
.react-bs-table {
	height: unset !important;
}
.no-border {
	border: 0px solid $light-gray-color;
}
.upload-csv-button {
	width: 120px;
	height: 34px;
	padding: 6px 10px;
	background-color: $white-color;
	font-family: $ubuntu-regular;
	font-size: $size-14;
	color: #1d2fb5;
	text-decoration: none solid $main-decoration-color;
	text-align: center;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 0;
	cursor: pointer;
}