.add-button {
  background: #575dde;
  display: inline-block;
  padding: 6px 10px;
	cursor: pointer;
	box-shadow: 0 1px 2px #000000;
}
.plus-icon {
  width: 22px;
  height: 22px;
}
.delete-button {
  background: #d42920;
  display: inline-block;
  padding: 6px 10px;
	cursor: pointer;
	box-shadow: 0 1px 2px #000000;
}
.merge-button {
  background: #575dde;
  display: inline-block;
  padding: 6px 10px;
  cursor: pointer;
	margin-right: 10px;
	box-shadow: 0 1px 2px #000000;
}
.button-text {
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  color: $white-color;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  background: none;
}
.pageList-style {
	margin-top: 0px;
}
.pageList-style .pagination .page-item .page-link {
  font-family: 'Lato-Regular';
  font-size: 14px;
  color: #000000;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;
  border: none;
}
.pageList-style .pagination .active.page-item .page-link {
  font-family: 'Lato-Regular';
  font-size: 14px;
  color: #fff;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;
  border: none;
  border-radius: 0px;
  background: #2199e8;
}
.setTablePageList-style {
	text-align: center;
	margin-top: 0px;
}
.setTablePageList-style .pagination .page-item .page-link {
  font-family: 'Lato-Regular';
  font-size: 14px;
  color: #000000;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;
  border: none;
}
.setTablePageList-style .pagination .active.page-item .page-link {
  font-family: 'Lato-Regular';
  font-size: 14px;
  color: #fff;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;
  border: none;
  border-radius: 0px;
  background: #2199e8;
}
.left-button-view {
  width: 50%;
  display: inline-block;
  text-align: left;
}
.right-button-view {
  width: 50%;
  display: inline-block;
  text-align: right;
}
.button-group-custom-class {
  width: 100%;
  display: inline-block;
}
.sort-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
