.dashboard-container {
  overflow: hidden;
  width: $full-width;
  background-color: $main-background-color;
  padding: $size-0;
  > .row {
    margin: 0;
    transform: translateZ(0);
    min-height: $min-height;
  }
}
.swal2-container {
  z-index: 1600;
}
.page-container {
  overflow: hidden;
  width: $full-width;
  background-color: $main-background-color;
  padding: 0px 4%;
  position: relative;
}

.dialog {
  height: 100%;
  width: 100%;
  background: $pure-white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1111;
}
.analysis {
  padding: 0px 15px 5px;
  overflow: hidden;
}
.page-select-text {
  font-family: $ubuntu;
  font-size: 20px;
  color: $grey;
  font-weight: bold;
  text-decoration: none solid $grey;
  top: -12px;
  position: absolute;
}
.right-top-description {
  font-family: $ubuntu;
  font-size: 11px;
  color: $smooth-grey;
  font-weight: bold;
  text-decoration: none solid $smooth-grey;
  width: 80%;
  padding-top: 20px;
}
.content-box {
  background: $dull-white;
  margin-top: 10px;
  padding: 10px 15px;
  padding-bottom: 50px;
}
.charts-card-style {
  color: $highlight-color;
  border: 1px solid $light-gray-color;
  border-radius: 2px;
  font-family: $ubuntu !important;
  font-size: 16px;
  text-align: left;
  > div {
    padding-bottom: 0px !important;
    .expense-header {
      padding: 16px 16px 0px !important;
      :first-child {
        padding-right: 0px !important;
      }
    }
  }
}
.explore-dialog-container {
  max-width: 1000px !important;
  transform: translate(0px, 0px) !important;
}

.dd-lable {
  font-size: 12px;
}
.expenses-breakdown {
  .expense-text {
    font-family: $ubuntu;
    font-size: 12px;
    color: $highlight-color;
    font-weight: 500;
    text-decoration: none solid $highlight-color;
    .text-row {
      padding-top: 5px;
    }

    .dash {
      width: 5px;
      margin-right: 5px;
      display: inline-block;
    }
    hr {
      margin-top: 3%;
      margin-bottom: 3%;
    }
    .final-row {
      color: $main-blue-color;
    }
  }
}
.select-container {
  width: 90%;
  margin: 0 auto;
  height: 110px;
  margin-top: 5px;
  margin-bottom: 7px;
}

.card-content {
  padding: 7px !important;
  .card-title {
    font-family: $ubuntu;
    font-size: 14px;
    color: $highlight-color;
    font-weight: 500;
    text-decoration: none solid $highlight-color;
    text-align: center;
  }
  .chip-wrapper {
    display: inline-block;
    margin-top: 10px;
    .chip {
      background-color: $smooth-grey !important;
      font-family: $ubuntu !important;
      text-align: center;
    }
  }
  .link {
    font-family: $ubuntu;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    text-decoration: underline;
    a {
      font-size: 14px;
      color: $highlight-color;
    }
  }
}

.text-center {
  .charts-card-style {
    .label-header,
    .suboption-btn {
      margin: 0;
    }
  }
}

.filter-dialog {
  .charts-card-style {
    box-shadow: none !important;
    margin-top: 0;
    border: none;
  }
  .close-btn {
    margin-top: -16px;
    margin-right: -16px;
  }
  .search-input {
    height: 100%;
  }
  .selected-text {
    font-family: $ubuntu;
    font-size: 14px;
    color: $main-blue-color;
    text-decoration: none solid $main-blue-color;
    text-align: center;
    margin-bottom: 15px;
  }
  .filter-table-header {
    thead > tr > th {
      border: none;
    }
  }
  .filter-table-body {
    .custom-table {
      background: $dull-white;
      border-top: 3px solid $pure-white;
      border-bottom: 3px solid $pure-white;
    }
  }
  .half-width {
    width: 100%;
  }
  .selected-row {
    background: $dull-white;
    padding-left: 5px;
    margin-top: 5px;
  }
}
// -----------------------NEW dashboardJSON--------------
.analysis {
  #goalCardSection {
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    :first-child {
      grid-column-start: 1;
    }
    .only-m {
      display: none;
    }
  }
  #cardSection {
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    :first-child {
      grid-column-start: 1;
    }
  }
  html,
  body {
    height: 100%;
  }

  .active-metrics {
    box-shadow: rgba($new-blue, 0.6) 0px 1px 6px,
      rgba($new-blue, 0.6) 0px 1px 4px !important;
  }

  .dashboard-section {
    margin: 40px 0px 9px -10px;
    font-family: Ubuntu;
    font-size: 14px;
    color: $highlight-color;
    font-weight: bold;
    text-decoration: none solid $highlight-color;
  }

  .dashboard-goal-card-container {
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 200px;
    display: grid;
    padding-top: 10px;
    transition: width 0.5s linear 0.5s, height 0.5s linear 0.5s;
  }

  .dashboard-card-container {
    // min-width:310px;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 300px;
    display: grid;
    padding-top: 10px;
    transition: width 0.5s linear 0.5s, height 0.5s linear 0.5s;
    .exploreMetrics {
      width: 35px;
      height: 35px;
      float: right;
      margin: 5px;
      .exploreImage {
        width: 25px;
        height: 25px;
        margin: 5px;
        background-image: url("../assets/images/openExploreMetrics.svg");
      }
    }
    .exploreMetrics:hover {
      width: 35px;
      height: 35px;
      float: right;
      margin: 5px;
      border-radius: 50%;
      background: $main-blue-color;
      .exploreImage {
        width: 25px;
        height: 25px;
        margin: 5px;
        background-image: url("../assets/images/openExploreMetricsWhite.svg");
      }
    }
  }
  .left-box-100 {
    width: 100%;
    transition: width 1s linear;
    float: left;
  }
  .left-box-50 {
    width: 50%;
    transition: width 1s linear;
    float: left;
  }
  .right-box-50 {
    overflow: hidden;
    width: 50%;
    transition: right 1s linear;
    float: left;
    position: fixed;
    right: 0;
  }
  .right-box-0 {
    width: 50%;
    transition: right 1s linear;
    overflow: hidden;
    float: left;
    position: fixed;
    right: -50vw;
  }
}

.scroll-matrics {
  max-height: 83vh;
  overflow-y: auto;
}
.invalid-block {
  display: block;
  margin: 0px auto;
  .image-container {
    width: 50%;
    display: block;
    margin: 0px auto;
  }
  .invalid-text {
    font-family: $ubuntu;
    font-size: 12px;
    color: $smooth-grey;
    text-decoration: none solid $smooth-grey;
    text-align: center;
  }
}

.chart-error {
  width: $full-width;
  height: 300px;
  text-align: center;
  font-size: 32px;
  background-color: $dull-white;
  color: $highlight-color;
  padding-top: 10%;
}

.chart-wrapper {
  padding-left: 5%;
}

.display-none {
  display: none;
}

.tooltip-details-show {
  display: block;
  min-height: 70px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -15px;
  max-height: 90px;
  overflow: hidden;
}

.multi-line-ellipcs {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.category-link-container {
  .link {
    font-family: $ubuntu;
    color: $highlight-color;
    font-size: 14px;
    font-weight: 400;
    float: left;
  }
}

.dot {
  display: none;
}
.custom-shadow {
  transform: translateZ(0);
}
.white-view {
  background-color: $pure-white;
  height: 178px;
  margin-top: $size-20;
}
.Select-arrow {
  border-color: $light-gray-color transparent transparent !important;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative;
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  color: $light-gray-color !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 0px;
}
.react-bs-table-pagination {
  margin-top: 0px !important;
  background: $pure-white;
  padding: 0px;
}
.react-bs-table-pagination .row {
  margin-top: 0px !important;
}
.react-bs-table .react-bs-container-header .sort-column,
td.react-bs-table-expand-cell {
  padding-left: 0px;
  padding-right: 0px;
}
.custom-padding-left {
  padding-left: 5px;
}
.margin-l-20 {
  margin-left: 20px;
}
.sku-view {
  display: flex;
  flex-direction: row;
}
.half-width {
  width: 50%;
}
.iconSpan {
  float: left;
}
.first-price {
  width: 75%;
  float: left;
  white-space: normal;
}
.first-price-customer {
  width: 60%;
}
.second-price {
  width: 0%;
  float: left;
  text-align: center;
  display: block;
  min-height: 18px;
}
.third-price {
  width: 25%;
  float: left;
  white-space: normal;
}
.price-title {
  font-family: $ubuntu-bold;
  font-size: $size-16;
  color: $highlight-color;
  text-decoration: none solid $grey;
  font-weight: 500;
}
.alt-price-title {
  display: inline-block;
  width: 20px;
  margin-left: 2px;
  padding-bottom: 15px;
}
.price-value {
  font-family: $ubuntu-bold;
  font-size: 25px;
  color: $main-blue-color;
  text-decoration: none solid $main-blue-color;
}
.price-percent {
  font-family: $ubuntu-bold;
  font-size: $size-16;
  color: $japanese-laurel-light;
  text-decoration: none solid $japanese-laurel-light;
}
.price-percent-down {
  font-family: $ubuntu-bold;
  font-size: $size-16;
  color: $main-red-color;
  text-decoration: none solid $main-red-color;
}
.price-percent-neutral {
  font-family: $ubuntu-bold;
  font-size: $size-16;
  color: $grey;
  text-decoration: none solid $grey;
}
.price-period {
  font-family: $ubuntu-bold;
  font-size: $size-12;
  color: $highlight-color;
  text-decoration: none solid $highlight-color;
}
.half-height {
  text-align: left;
}
.arrow-icon {
  width: 15px;
  height: 15px;
}
.grid-item {
  width: $full-width;
  height: 100px;
  background: $pure-white;
}



.goal-card-style {
  border: 1px solid $light-gray-color;
  border-radius: 2px;
  background-color: $pure-white;
  box-shadow: 0 1px 2px $pure-black;
  height: 100%;

  .title .ellipsis{
    max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 8px;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
  }

  

  &.ongoing {
    > div > div > div {
      width: 100%;
      padding-right: 0px !important;
    }
    .total-goal {
      width: 100%;
      margin-bottom: 10px;
      .progress-box {
        max-width: 500px;
        margin-right: 24px;
      }
    }
    .progress-box {
      display: flex;
      margin-bottom: 8px;
      .target {
        .bar {
          height: 16px;
          background-color: $light-gray-color;
          background-size: cover;
        }
      }
      .current {
        .bar {
          height: 16px;
          background-color: $current-goal-bar-color;
          background-size: cover;
        }
      }
    }
    .goal {
      font-size: 11px;
      color: $japanese-laurel-light;
      font-weight: bold;
      text-decoration: none solid $japanese-laurel-light;
    }
    .card-type {
      font-size: 12px;
      color: $japanese-laurel-light;
      font-weight: bold;
      text-decoration: none solid $japanese-laurel-light;
    }

    .goal-title {
      width: 65px;
      font-size: 9px;
      color: $grey;
      font-weight: bold;
      text-decoration: none solid $grey;
    }

    .box {
      margin: 0px 8px;
    }
    .ant-progress {
      .progress-text {
        font-size: 12px;
        font-weight: bold;
        color: $japanese-laurel-light;
      }
    }

    .trace {
      margin-top: 16px;
      .title {
        padding: 0px;
        font-family: $ubuntu;
        font-size: 9px;
        color: $grey;
        font-weight: 500;
        text-decoration: none solid $grey;
        text-align: center;
      }
      .detail {
        font-family: $ubuntu;
        font-size: 11px;
        color: $grey;
        font-weight: 500;
        text-decoration: none solid $grey;
        text-align: center;
      }
      .deadline-passed {
        font-size: 11px;
        color: $fade-red;
        font-weight: 500;
        text-decoration: none solid $fade-red;
      }
      .progress {
        height: 7px;
        margin: 7px 0px 0px 0px;
        border-radius: 0px;
        background-color: $light-gray-color;
        background-size: cover;
        .progress-bar {
          background-color: $progress-bar-color;
        }
      }
    }
  }

  .bg-color-failed {
    background-color: $main-blue-color;
  }
  .bg-color-success {
    background-color: $japanese-laurel-light;
  }

  .goal-archive-btn {
    border: 1px solid $pure-white;
    background-size: cover;
    font-family: $ubuntu;
    font-size: 12px;
    color: $main-background-color;
    font-weight: 500;
    text-decoration: none solid $main-background-color;
    text-align: center;
    border-radius: 0px;
    float: right;
    margin-right: 24px;
  }
  .goal-archive-btn:hover,
  .goal-archive-btn:active,
  .goal-archive-btn:focus {
  }

  .title {
    font-family: $ubuntu;
    padding-left: 0px;
    font-size: 12px;
    color: $pure-white;
    text-decoration: none solid $pure-white;
  }

  .success {
    margin: 10px 10px;
    .text {
      font-family: Ubuntu;
      font-weight: bold;
      font-size: 12px;
      color: $pure-white;
      text-decoration: none solid $pure-white;
      text-align: center;
    }
  
    .content {
      .icon-box {
        display: flex;
        align-items: center;
        width: 61px;
        height: 61px;
        background-color: $pure-white;
        background-size: cover;
        border-radius: 30px;
        > img {
          height: 32px;
          width: 32px;
          margin: 0 auto;
        }
      }
      .goal-status {
        font-family: $ubuntu;
        font-size: 14px;
        color: $pure-white;
        font-weight: 500;
        text-decoration: none solid $pure-white;
        text-align: center;
      }
    }
  }

  .failed {
    margin: 10px 10px;
    .text {
      font-family: $ubuntu;
      font-size: 12px;
      font-weight: bold;
      color: $grey;
      text-decoration: none solid $grey;
      text-align: center;
    }
    .content {
      .icon-box {
        display: flex;
        align-items: center;
        width: 61px;
        height: 61px;
        background-color: $fade-red;
        background-size: cover;
        border-radius: 30px;
        > img {
          height: 32px;
          width: 32px;
          margin: 0 auto;
        }
      }
      .goal-status {
        font-family: $ubuntu;
        font-size: 14px;
        color: $fade-red;
        font-weight: 500;
        text-decoration: none solid $pure-white;
        text-align: center;
      }
    }
  }
  &.add-new-goal {
    cursor: pointer;
    > div {
      margin-left: auto;
      margin-right: auto;
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > img {
          cursor: pointer;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
          width: 48px;
          height: 48px;
        }
        > div {
          font-family: $ubuntu;
          font-size: 11px;
          color: $light-gray-color;
          font-weight: bold;
          text-decoration: none solid $light-gray-color;
        }
      }
    }
  }
}
.price-card-style {
  border: 1px solid $light-gray-color;
  border-radius: 2px;
  background-color: $pure-white;
  box-shadow: 0 1px 2px $pure-black;
  height: 100%;
  .exploreMetrics {
    cursor: pointer;
  }
}
.border-red {
  border: 1px solid $main-red-color !important;
}
.card-header-style {
  padding: 0px !important;
  height: 90px;
}
.card-header-style button {
  position: absolute !important;
  bottom: 0px !important;
  right: -5px !important;
  top: 75px !important;
  color: $light-gray-color !important;
}
.statistics-icon {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.price-description {
  font-size: $size-12;
  color: $smooth-grey;
  text-decoration: none solid $smooth-grey;
  white-space: normal;
  display: none;
}
.price-view {
  background: $pure-white;
  padding: 0 10px;
}
.expand-content {
  padding: 0px !important;
}

.item {
  display: inline-block;
  margin: 0 0 1em;
  width: 90%;
}
.open-icon {
  display: none;
}
.close-icon {
  width: 32px;
  height: 32px;
}
.expand-close-icon {
  width: 32px;
  height: 32px;
}
.analyze-button {
  margin-top: 10px;
  padding: 6px 10px;
  border: 1px solid $light-gray-color;
  border-radius: 2px;
  background-color: $main-blue-color;
  font-family: $ubuntu-bold;
  font-size: $size-14;
  color: $pure-white;
  text-decoration: none solid $pure-white;
}
.loading-placeholder-rect-media {
  .round-shape {
    border-radius: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .analysis {
    #goalCardSection {
      grid-template-columns: 1fr 1fr 1fr;
      .goal-card-style .title .ellipsis {
        max-width: 100px;
    }
    }
    #cardSection {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media only screen and (max-width: 768px) {
  .analysis {
    #goalCardSection {
      grid-template-columns: 1fr 1fr;
    }
    #cardSection {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media only screen and (max-width: 650px) {
  .analysis {
    #goalCardSection {
      grid-template-columns: 1fr 1fr;
      .hide-m {
        display: none;
      }
      .goal-card-style .title .ellipsis {
        max-width: 100px;
    }
      .only-m {
        display: flex;
        flex-direction: column;
        align-items: center;

        &.box{
          box-sizing: border-box;
          -webkit-tap-highlight-color: rgba($pure-black, 0);
          box-shadow: rgba($pure-black, 0.12) 0px 1px 6px, rgba($pure-black, 0.12) 0px 1px 4px;
          border-radius: 2px;
          z-index: 1;
          border: 1px solid $light-gray-color;
        }
     

        &.success-bg {
          background-color: $japanese-laurel-light;
        }
        &.time-up-bg {
          background-color: $pure-white;
        }
        .success-header {
          height: 50px;
          width: 100%;
          background-color: $japanese-laurel-light;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background-color: $japanese-laurel-light;
          .title {
            font-family: $ubuntu;
            font-size: 12px;
            color: $pure-white;
            text-decoration: none solid $pure-white;
            .ellipsis{
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-right: 8px;
              -webkit-line-clamp: 2; /* number of lines to show */
              -webkit-box-orient: vertical;
            }
           
          }
        }
        .time-up-header {
          height: 50px;
          width: 100%;
          background-color: $japanese-laurel-light;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background-color: $main-blue-color;
          .title {
            font-family: $ubuntu;
            font-size: 12px;
            color: $pure-white;
            text-decoration: none solid $pure-white;
            .ellipsis{
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-right: 8px;
              -webkit-line-clamp: 2; /* number of lines to show */
              -webkit-box-orient: vertical;
            }
          }
        }

        .icon-box {
          margin-top:16px;
          display: flex;
          align-items: center;
          width: 61px;
          height: 61px;
          background-size: cover;
          border-radius: 30px;
          > img {
            height: 32px;
            width: 32px;
            margin: 0 auto;
          }
          &.success {
            background-color: $pure-white;
          }
          &.time-up {
            background-color: $fade-red;
          }
        }
        .success-text {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: $ubuntu;
          font-size: 9px;
          font-weight: bold;
          color: $pure-white;
          text-decoration: none solid $pure-white;
          text-align: center;
        }
        .time-up-text {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: $ubuntu;
          font-size: 9px;
          font-weight: bold;
          color: $grey;
          text-decoration: none solid $grey;
          text-align: center;
        }
      }
    }
    #cardSection {
      grid-template-columns: 1fr;
    }
  }
}
