.edit-goal-modal {
  .ant-modal-content {
    background-color: $main-background-color;
    border-radius: 0;
  }
  .ant-modal-close-x {
    font-size: 36px;
  }
  .ant-modal-title {
    font-size: 16px;
    font-weight: 500;
    color: $highlight-color;
  }
  .ant-modal-header {
    background-color: $main-background-color;
    border-bottom: none;
  }

  .ant-input {
    border: 1px solid $light-gray-color;
    height: 43px;
    border-radius: 0;
  }

  .ant-select {
    border-radius: 0;
    .ant-select-selection {
      border-radius: 0;
      height: 43px;
    }
  }

  .ant-select-disabled
  {
    .ant-select-selection{
      background-color: rgba($light-gray-color,0.1);
    }
  }
  .ant-input-disabled{
    background-color: rgba($light-gray-color,0.1);
  }

  .row {
    margin: 0px 0px;
  }

  .w50 {
    width: 60px;
  }

  .tar {
    text-align: right;
  }

  .add-btn {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    margin-left: 10px;
    > img {
      margin-top: 0;
    }
  }
  .add-btn:hover,
  .add-btn:active,
  .add-btn:focus {
    background: none;
    border: none;
    outline: none;
  }

  .btn-text {
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    font-family: $ubuntu;
  }
  .padding-t-5{
    padding-top: 11px;
  }

  .save-btn {
    border-radius: 0;
    display: flex;
    height: 43px;
    background-color: $japanese-laurel-light;
    background-size: cover;
    font-family: $ubuntu;
    font-size: 12px;
    color: $pure-white;
    font-weight: 500;
    text-decoration: none solid $pure-white;
    text-align: center;
    transition: width 2s;
    > img {
      margin: -1px 0px 0px -2px;
      width: 20px;
      height: 20px;
    }

    .ant-spin {
      .ant-spin-dot {
        > i {
          background-color: $pure-white;
        }
      }
    }
  }

  .save-btn[disabled]:hover {
    background-color: $japanese-laurel-light;
  }
  .btn-default {
    border-color: transparent;
  }

  .delete-btn {
    border-radius: 0;
    display: flex;
    height: 43px;
    background-color: $fade-red;
    background-size: cover;
    font-family: $ubuntu;
    font-size: 12px;
    color: $pure-white;
    font-weight: 500;
    text-decoration: none solid $pure-white;
    text-align: center;
    transition: width 2s;
    > img {
      margin: -2px 0px 0px -2px;
      width: 20px;
      height: 20px;
    }
    .ant-spin {
      .ant-spin-dot {
        > i {
          background-color: $pure-white;
        }
      }
    }
  }

  .save.btn:hover,
  .save-btn:active,
  .save-btn:focus {
    outline: none;
    border: none;
    background-color: $japanese-laurel-light;
    background-size: cover;
    font-family: $ubuntu;
    font-size: 12px;
    color: $pure-white;
    font-weight: 500;
    text-decoration: none solid $pure-white;
    text-align: center;
  }

  .delete-btn:hover,
  .delete-btn:active,
  .delete-btn:focus {
    outline: none;
    height: 43px;
    border: none;
    background-color: $fade-red;
    background-size: cover;
    font-family: $ubuntu;
    font-size: 12px;
    color: $pure-white;
    font-weight: 500;
    text-decoration: none solid $pure-white;
    text-align: center;
  }

  .ant-modal-body {
    padding: 0px;
  }
  .goal-form {
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 150px;
    }
    .label-dark {
      color: $highlight-color;
      font-size: 14px;
      font-weight: 500;
    }
    .label-light {
      color: $light-gray-color;
      font-size: 14px;
    }

    .ant-select-selection-selected-value {
      color: $highlight-color;
      text-align: center;
    }
    .ant-calendar-picker-input {
      text-align: center;
      color: $highlight-color;
    }

    .goal-name::placeholder {
      text-align: center;
    }

    .ant-input {
      text-align: center;
      color: $highlight-color;
    }



    .ant-select-selection__placeholder {
      text-align: center;
      top: 63%;
    }

    .goal-section-field {
      padding-right: 0px;
      padding-left: 0px;
      .ant-form-item {
        width: 200px;
      }
    }

    .form-section {
      display: flex;
      align-items: center;
      background-color: $main-blue-color;
      min-height: 150px;
      margin-bottom: 2px;
      &.col-lg-2 {
        width: 120px;
      }
      &.col-md-2 {
        width: 120px;
      }
      > div {
        color: $pure-white;
        font-size: 12px;
        font-weight: 500;
        font-family: "Ubuntu";
        margin: auto;
        text-align: center;
      }
    }

    .field-col {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 150px;
    }
  }
  .goal-section-title {
    background-color: $main-blue-color;
    width: 80px;
    height: 120px;
    margin-bottom: 2px;

    > div {
      color: $pure-white;
      font-size: 12px;
      font-weight: 500;
      font-family: $ubuntu;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  .goal-section-field {
    .ant-form-item {
      width: 200px;
    }
    .condition {
      justify-content: center;
    }
  }

  .goal-name-field {
    .ant-form-item {
      width: 80%;
      padding-top: 10px;
    }
    .ant-input {
      height: 80px;
    }
  }
}

@media (min-width: 992px) {
  .edit-goal-modal {
    width: 90% !important;
  }
}

@media (min-width: 1200px) {
  .edit-goal-modal {
    width: 80% !important;
  }
}

@media (max-width: 992px) {
  .edit-goal-modal {
    .footer {
      min-height: 60px;
    }
    width: 80% !important;
    .goal-form {
      .goal-section-field {
        .flex {
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .edit-goal-modal {
    width: 80% !important;
    .goal-form {
      .footer {
        min-height: 60px;
      }

      .context-row {
        display: flex;
        flex-direction: column;
        height: auto;
      }
      .goal-section-field {
        .flex {
          justify-content: center;
        }
        .target {
          margin: 0 auto;
        }
      }
    }
  }
}