.forgot-password-tabs {
	.nav.nav-tabs >li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	  width: 200px;
	}
	.nav.nav-tabs >li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
	  width: 200px;
	}
	.forgot-text.already-have-password {
		color: $gray-color;
		cursor: auto;
	}
}
