// Import all base styles
@import "./landing";
@import "./navigationbar";
@import "./footer";
@import "./login";
@import "./header";
@import "./customtable";
@import "./accountsetup";
@import "./inventory";
@import "./dashboard";
@import "./orders";
@import "./setting";
@import "./rangepicker";
