.login-tab {
  text-align: center;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.login-tab ul.nav.nav-tabs > li,
ul.nav.nav-pills > li {
  float: none;
  display: inline-block;
}
.login-tab ul.nav.nav-tabs {
  text-align: center;
}
.login-tab {
  .nav.nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    cursor: default;
    background-color: $main-background-color;
    border-bottom: 2px solid $main-blue-color;
    padding: 15px 20px 0px 20px;
    outline: 0px;
    font-family: $ubuntu-light;
    font-size: $size-20;
    color: $main-blue-color;
    text-decoration: none solid $main-decoration-color;
    width: 120px;
  }
  .nav.nav-tabs > li > a,
  .nav-tabs > li > a:focus,
  .nav-tabs > li > a:hover {
    cursor: default;
    background-color: $main-background-color;
    border: none;
    margin: 0;
    padding: 15px 20px 0px 20px;
    outline: 0px;
    font-family: $ubuntu-light;
    font-size: $size-20;
    color: $main-blue-color;
    text-decoration: none solid $main-decoration-color;
    width: 120px;
    cursor: pointer;
  }
}
.login-tab .nav.nav-tabs {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom: 1px solid $light-gray-color;
  background-color: $main-background-color;
  text-align: left;
}

.login-title {
  font-family: $ubuntu-bold;
  font-size: $size-32;
  color: $main-blue-color;
  text-decoration: none solid $main-decoration-color;
  background: none;
  padding-top: 20px;
}
.login-layout {
  min-height: 100vh;
  margin: 0;
  width: $full-width;
  background: $main-background-color;
}
.email-input {
  width: 339px;
  height: 43px;
  padding: 0px 10px;
  border: 1px solid $light-gray-color;
  border-radius: 0px !important;
  background-color: $white-color;
  font-family: $ubuntu-regular;
  font-size: $size-14;
  color: $light-gray-color;
  text-decoration: none solid $main-decoration-color;
  line-height: 14px;
}
.forgot-text {
  font-family: $ubuntu-regular;
  font-size: $size-16;
  color: $highlight-color;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 17px
}
.signup-email-input {
  width: 200px;
  height: 43px;
  padding: 0px 10px;
  border: 1px solid $light-gray-color;
  border-radius: 0px;
  background-color: $white-color;
  font-family: $ubuntu-regular;
  font-size: $size-14;
  color: $light-gray-color;
  text-decoration: none solid $main-decoration-color;
  line-height: 14px;
}
.signup-role-input {
  width: 200px;
  padding-top: 0px;
  font-family: $ubuntu-regular;
  font-size: $size-14;
  color: $light-gray-color;
  text-decoration: none solid $main-decoration-color;
  line-height: 14px;
  text-align: left;
  border-radius: 0px;
}
.signup-title {
  font-family: $ubuntu-light;
  font-size: $size-16;
  color: $highlight-color;
  text-decoration: none solid $main-decoration-color;
  background: none;
}
.is-open .Select-arrow .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: $light-gray-color !important;
}
.is-open > .Select-arrow .Select-arrow {
  top: -2px;
  border-color: $light-gray-color transparent transparent !important;
  border-width: 0 5px 5px;
}
.Select-clear-zone {
  color: $light-gray-color !important;
}
.Select-control {
  height: 43px !important;
  border: 1px solid $light-gray-color !important;
  border-radius: 0px;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single
  > .Select-control
  .Select-value
  .Select-value-label {
  color: $light-gray-color !important;
  padding-top: 5px !important;
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 43px !important;
}
.border-view {
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray-color;
}

.tooltip {
  .tooltip-inner {
    max-width: 400px;
    background-color: $tooltip-error-color;
    border-radius: 0px;
    font-family: $ubuntu;
    font-size: 14px;
    img {
      height: 30px;
    }
  }
}
.tooltip.left {
  .tooltip-arrow {
    border-left-color: $tooltip-error-color !important;
  }
}
.tooltip.right {
  .tooltip-arrow {
    border-right-color: $tooltip-error-color !important;
  }
}
.tooltip.top {
  .tooltip-arrow {
    border-top-color: $tooltip-error-color !important;
  }
}
.tooltip.bottom {
  .tooltip-arrow {
    border-bottom-color: $tooltip-error-color ;
  }
}
.logo{
  font-weight: 500;
    font-size: 22px;
    color:black
}
.logo:hover{
  color:black
}
.verification-container{
  text-align: center;
  pre{
    all: unset
  }
  .main-heading{
font-size: 32px;
font-weight: 700;
color:$highlight-color;
margin-top: 40px;
  }
  .bottom-heading{
    margin-top: 5px
  }
  .first-info{
    margin-top: 43px
  }
  .first-detail{
    margin-top: 59px
  }
  .info{
    font-size: 20px;
    font-weight: 500;
    color:$highlight-color;
  }
  .detail{
    font-size: 16px;
    color:$main-blue-color;

  }
  .login-button{
    color:$highlight-color;
  }
  .signup-email-input{
    width:350px
  }
}
.signup-wrapper{
  text-align: center;
  .main-heading{
    font-size: 32px;
    font-weight: 700;
    color:$highlight-color
  }
  .first-section{
    margin-top:28px
  }
  .signup-instruction{
    font-size: 20px;
    color:$highlight-color;
    font-family: $ubuntu-regular;
    margin: 84px 0 39px;
    font-weight: 500
  }
  .text-box{
    display: inline-flex;
    width:346px;
    .signup-email-input{
      width:100%
    }
  }
  .already-account{
    text-align: center;
    color:$highlight-color;
    font-size: 16px;
    margin-top: 45px;
    u{
     font-weight: 600;
     cursor: pointer
    }
  }
  .login-button{
    color:$highlight-color;
    font-weight: 600;
    margin-top: 48px
  }
  .signup-text{
    color:$highlight-color;
    font-size: 16px;
    margin-top: 24px;
    u{
      font-weight: 600;
      cursor: pointer;
    }
  }
}
.forget-password-wrapper{
  text-align: center;
  .main-heading{
    font-size: 32px;
    font-weight: 700;
    color:$highlight-color;
  }
  .email-use{
    font-size: 20px;
    color:$highlight-color;
    font-family: $ubuntu-regular;
    margin: 84px 0 40px;
    font-weight: 500
  }

  .forget-email-section{
    display: initial;
    margin-bottom: 47px

  }
  .login-button{
    width: auto;
    color:$highlight-color;
    font-weight:600 
  }
  .first-section{
    margin-top: 40px;

  }
  .forget-write{
    font-size: 16px;
    color:$highlight-color;
    margin-top: 47px;
    a{
      font-weight: 600;
      cursor: pointer;
      color:$highlight-color;
      text-decoration: underline
    }
  }
  .title-section{
    margin-top: 84px;
  }
  .verification-code{
    margin-top: 37px;
  }
}
@media only screen and (max-width: 400px) {
  .signup-wrapper .text-box{
    width:100%
  }

}