.nav-container {
  background-color: $white-color;
  >.row {
    margin: $size-0;
  }
}
.app-title {
  font-family: $ubuntu-bold;
	font-size: $size-32;
  color: $main-blue-color;
  text-decoration: none solid $main-decoration-color;
  background: none;
  padding-top: 20px;
	display: block;
	position: absolute;
	top: 25px;
	left: 10px;
	z-index: 999;
}
.user-profile {
  width: 165px;
	height: 40px;
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 999;
	text-align: right;
}
.username {
  // font-family: $ubuntu-light;
  font-size: $size-16;
  color: $white-color;
  text-decoration: none solid $white-color;
  background: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
}
.setting {
  font-family: $ubuntu-light;
  font-size: $size-16;
  color: $white-color;
  text-decoration: none solid $white-color;
  background: none;
  display: inline-block;
  vertical-align: middle;
	margin-top: 2px;
	margin-left: 14px;
}
.dropdown .btn-default {
  border: none;
  padding-top: 10px;
}
.dropdown .dropdown-menu {
	padding: 0;
	width: 100%;
	border: none;
  margin-top: 45px;
}
.dropdown .btn-default:hover,
.dropdown.open .btn-default:hover,
.dropdown .btn-default:active,
.dropdown.open .btn-default:active,
.dropdown .btn-default:focus,
.dropdown.open .btn-default:focus {
  box-shadow: none;
  outline: none;
  background-color: $white-color;
}
.btn-default.active, .btn-default:active,
.open>.dropdown-toggle.btn-default {
  background-color: $white-color;
}
.dropdown .btn-default .caret {
  display: none;
}
.dropdown .btn-default {
  padding: 0;
  border: none;
  margin-top: 10px;
  border-radius: 0px;
}
.custom-dropdown-view {
	padding: 10px;
}

.custom-dropdown-view .username{
  color: #c8c8e9;
}

.custom-dropdown-view .setting{
  color: #c8c8e9;
}

.dropdown{
  width: 200px;
}

.profileIcon {
	width: 34px;
	height: 34px;
	fill: $main-blue-color;
}
@media screen and (max-width: 767px) {
  .app-title {
    padding-top: 20px;
    position: unset;
  }
  .user-profile {
    top: 10px;
    right: 10px;
  }
}
