.nav-container {
  background-color: $main-blue-color;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  >.row {
    margin: $size-0;
  }
}
.app-title {
  padding-top: 0px;
  padding-left: 0px;
  display: block;
  display:flex;
  align-items: center;
  top: 20px;
  background-color: $main-blue-color;
	left: 10px;
  z-index: 999;
  .logo{
    background: url("../assets/images/transparent_white.svg") no-repeat center center;
    width: 50px;
    height: 40px;
    background-size: cover;
  }
}
.company-name-label{
  display:flex;
  align-items: center;
  height: auto;
  font-family: Ubuntu;
  font-size: 16px;
  color: $white-color;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  background: none;
  padding-left:10px;
  border-left: 2px solid #ccc;
}
.app-title-container{
  padding: .5% 0
}
.user-profile {
  width: 165px;
	height: 40px;
	position: absolute;
  background: $main-blue-color;
	float: right !important;
	z-index: 999;
	text-align: right;
}

.dropdown .btn-default{
  margin-top: 4px !important;
}
.username {
  font-size: $size-16;
  color: $white-color;
  text-decoration: none solid $white-color;
  background: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
}
.setting {
  font-family: $ubuntu-light;
  font-size: $size-16;
  color: $white-color;
  text-decoration: none solid $white-color;
  background: none;
  display: inline-block;
  vertical-align: middle;
	margin-top: 2px;
	margin-left: 14px;
}
.dropdown .btn-default {
  border: none;
  padding-top: 10px;
}
.dropdown .dropdown-menu {
	padding: 0;
	width: 100%;
	border: none;
  margin-top: 10px;
}
.dropdown .btn-default:hover,
.dropdown.open .btn-default:hover,
.dropdown .btn-default:active,
.dropdown.open .btn-default:active,
.dropdown .btn-default:focus,
.dropdown.open .btn-default:focus {
  box-shadow: none;
  outline: none;
  background-color: $main-blue-color;
}
.btn-default.active, .btn-default:active,
.open>.dropdown-toggle.btn-default {
  background-color: $white-color;
}
.dropdown .btn-default .caret {
  display: none;
}
.dropdown .btn-default {
  padding: 0;
  border: none;
  margin-top: 10px;
  border-radius: 0px;
}
.custom-dropdown-view {
	padding: 10px;
}

.custom-dropdown-view:hover{
  background: $custom-dropdown-background-color;
}
.custom-dropdown-view .username{
  color: $custom-dropdown-color;
}

.custom-dropdown-view .setting{
  color: $custom-dropdown-color;
}

.profileIcon {
	width: 34px;
	height: 34px;
	fill: $main-blue-color;
}
.dd-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.setting-popup{
  .dropdown{
    width:100%;
    #bg-nested-dropdown{
      width:70%;
    }
  }
}
@media screen and (max-width: 767px) {
  .app-title {
    position: unset;
  }
  .user-profile {
    right: 20px;
  }
}
