.orders-container {
  overflow: hidden;
  width: $full-width;
  background-color: $main-background-color;
  padding: $size-0;
  > .row {
    margin: 0;
    transform: translateZ(0);
    min-height: $min-height;
  }
}
