
.tooltip-blue{
  .tooltip-inner{
    background-color: $highlight-color
  }
  .tooltip-arrow{
    border-bottom-color: $highlight-color !important
  }
}
.close-cogs{
  margin-left: 5px
}
.setcogs-container{
  padding: 0 0px;
  .main-heading{
    line-height: 1;
  }
  .devider{
    margin: 10px 0px 10px 0px;
    padding:0 40px
  }
  .count-row{
    margin: 0px;
    .table-virtulized{
      background-color: $pure-white;
      padding-bottom: 30px
    }
  }
  .setcogs-status{
    font-size: 9px
  }
}
.set-markup {
  min-height: 115px;
  width: 500px;
  background: $white-color;
  position: absolute;
  right: 150px;
  margin-top: 4px;
  border: 1px solid $pure-grainsboro;
  padding: 5px 10px;
  box-shadow: 0px 1px 2px rgba($pure-black, 0.4);
  z-index: 4;
  .top-row {
    min-height: 30px;
  }
  .close-button {
    float: right;
    width: 30px;
    height: 30px;
  }
  .product-cogs-text {
    color: $main-blue-color;
    width: calc(100% - 20px)
  }
  .radio-wrapper {
    width: 110px;
    min-width: 110px;
    margin: 0px auto;
  }
}
.col-4 {
  width: 33%;
}
.csv-upload {
  min-height: 115px;
  width: 600px;
  background: $white-color;
  position: absolute;
  right: 15px;
  margin-top: 4px;
  border: 1px solid $pure-grainsboro;
  box-shadow: 0px 1px 2px rgba($pure-black, 0.4);
  z-index: 4;
  .close-button {
    float: right;
    width: 30px;
    height: 30px;
  }
  .product-cogs-text {
    color: $main-blue-color;
  }
  .top-row {
    min-height: 30px;
  }
  .left-box {
    width: 10%;
    min-width: 100px;
    min-height: 115px;
    .download-box {
      width: 100px;
      height: 115px;
      padding: 6px 10px;
      border: 1px solid $download-box-border-color;
      background-color: $light-blue-color;
    }
    .icon-container {
      width: 70%;
      margin: 15px auto;
    }
    .spin-container {
      width: 70%;
      margin: 30px auto;
      text-align: center;
    }
    .text {
      font-family: $ubuntu;
      font-size: 14px;
      color: $light-blue-shade;
      text-decoration: none solid $light-blue-shade;
      text-align: center;
    }
  }
  .downloadCsv {
    height: 36px;
    margin-bottom: 6%;
    width: 100%;
  }
  .uploadCsv {
    margin-bottom: 5px;
    width: 100%;
  }
  .middle-box {
    width: 45%;
    min-width: 285px;
    text-align: center;
    padding: 6px 10px;
  }
  .right-box {
    width: 35%;
    padding: 6px 10px;
  }
}
.set-cogs-close-button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.cogs-page-button:hover {
  border-radius: 50%;
  background-color: $highlight-color;
  transition: .5s background-color;
  img {
    filter: brightness(10) grayscale(100%);
    transition: .5s all
  }
}
.close-button-set-cogs:hover{
  border-radius: 50%;
  background-color: $highlight-color;
  transition: .5s background-color;
  img {
    filter: brightness(10) grayscale(100%);
    transition: .5s all
  }
}
.hide-completed {
  padding: 0px;
  .text {
    min-width: 150px;
  }
  .switch {
    line-height: 1;
  }
}
.ReactVirtualized__Grid {
  will-change: inherit !important;
}
#info-icon {
  margin: 0 5px;
}
@media only screen and (max-width: 767px) {
  .csv-upload {
    min-height: 101px;
    width: 450px;
    margin-left: -274px;
    .product-cogs-text {
      font-size: 12px;
      width: 221px !important;
    }
    .left-box {
      width: 20%;
      min-width: 88px;
      min-height: 100px;
      .download-box {
        width: 80px;
        height: 101px;
      }
      .text {
        font-size: 11px;
      }
    }
    .middle-box {
      width: 50%;
      min-width: 224px;
    }
    .right-box {
      width: 25%;
      .set-cogs-finish-button {
        font-size: 14px;
        width: 89px;
        height: 34px;
        padding: 6px !important;
      }
    }
  }
  .set-markup {
    min-height: 115px;
    width: 380px;
    right: 200px;
    .select-style-comment-small {
      font-size: 12px;
    }
    .radio-wrapper {
      width: 95px;
      min-width: 95px;
    }
    .set-cogs-finish-button {
      width: 106px;
      height: 34px;
      font-size: 14px;
    }
  }
}
.set-cogs-table {
  .ReactVirtualized__Table__Grid::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $main-background-color;
  }

  .ReactVirtualized__Table__Grid::-webkit-scrollbar {
    width: 10px;
    background-color: $main-background-color;
  }

  .ReactVirtualized__Table__Grid::-webkit-scrollbar-thumb {
    background-color:$japanese-laurel-light;
  }
}