.update-style-title {
  font-family: $ubuntu;
  font-size: 18px;
  color: $main-blue-color;
  font-weight: 500;
  text-decoration: none solid $main-decoration-color;
  text-align: center;
}

.update-style-text {
  font-family: $ubuntu;
  display: block;
  font-size: 16px;
  color: $main-blue-color;
  font-weight: 400;
  text-decoration: none solid $main-decoration-color;
  text-align: center;
}

.inventory-alert-title {
  font-family: $ubuntu;
  font-size: 18px;
  color: $main-blue-color;
  font-weight: 500;
  text-decoration: none solid $main-decoration-color;
  text-align: center;
}
.inventory-alert-text {
  font-family: $ubuntu;
  font-size: 14px;
  color: $main-blue-color;
  font-weight: 400;
  text-decoration: none solid $main-decoration-color;
  text-align: center;
}
.inventory-form {
  .inventory-alert-text {
    font-family: $ubuntu;
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
    color: $main-blue-color;
    font-weight: 400;
    text-decoration: none solid $main-decoration-color;
    text-align: center;
  }
  .input-field {
    width: 35px;
  }
}

.inventory-alert-checkbox {
  margin-left: 100px;
  display: inline-grid;
  line-height: 2;
}

.inventory-btn-wrapper {
  display: inline-grid;
  .inventory-button {
    font-weight: 600;
    padding: 6px 10px;
    background-color: $white-color;
    font-family: $ubuntu-regular;
    font-size: $size-14;
    color: rgba($main-blue-color, 0.75);
    text-decoration: none solid $main-decoration-color;
    text-align: center;
    box-shadow: 0 1px 2px rgba($pure-black, 0.5);
    border: none;
    border-radius: 0;
  }
  .btn-savenclose {
    padding: 13px 20px;
    width: 150px;
    min-width: 155px;
    margin: 0 auto;
  }
  .btn-cancel {
    width: 100px;
    margin: 10px auto;
    color: rgba($main-blue-color, 0.2);
  }
}

.margin-l-10 {
  margin-left: 10px;
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-l-5 {
  margin-left: 5px;
}
.margin-r-5 {
  margin-right: 5px;
}
