.update-style-title{
  font-family: Ubuntu;
  font-size: 18px;
  color: #575dde;
  font-weight: 500;
  text-decoration: none solid rgb(87, 93, 222);
  text-align: center;
}

.update-style-text{
  font-family: Ubuntu;
  display: block;
  font-size: 16px;
  color: #575dde;
  font-weight: 400;
  text-decoration: none solid rgb(87, 93, 222);
  text-align: center;
}

.inventory-alert-title{
  font-family: Ubuntu;
  font-size: 18px;
  color: #575dde;
  font-weight: 500;
  text-decoration: none solid rgb(87, 93, 222);
  text-align: center;
}
.inventory-alert-text{
  font-family: Ubuntu;
  font-size: 14px;
  color: #575dde;
  font-weight: 400;
  text-decoration: none solid rgb(87, 93, 222);
  text-align: center;
}
.inventory-form{
  .inventory-alert-text{
    font-family: Ubuntu;
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
    color: #575dde;
    font-weight: 400;
    text-decoration: none solid rgb(87, 93, 222);
    text-align: center;
  }
  .input-field{
    width: 35px;
  }
}

.inventory-alert-checkbox{
  margin-left: 100px;
  display: inline-grid;
  line-height: 2;
}

.inventory-btn-wrapper{
  width: 50%;
  display: inline-block;
}

.inventory-button {
	// width: 100px;
	// height: 34px;
  font-weight: 500;
	padding: 6px 10px;
	background-color: $white-color;
	font-family: $ubuntu-regular;
	font-size: $size-14;
	color: #1d2fb5;
	text-decoration: none solid $main-decoration-color;
	text-align: center;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 0;
}
