.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.custom-table {
  background: white;
  font-family: $ubuntu-regular;
  font-size: $size-16;
  color: $dark-purple;
  text-decoration: none solid $main-decoration-color;
  &:hover{
    background: $light-blue-color;
  }
}
.custom-table td {
  text-align: center;
	outline: none;
	border-bottom: 1px solid $light-gray-color !important;
}
.react-bs-container-footer, .react-bs-container-header {
	background: white;
}
.custom-table-header {
  font-family: $ubuntu-regular;
  font-size: $size-16;
	color: $main-blue-color;
}
.custom-table-header .sort-column {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.cursor-pointer {
	cursor: pointer;
}

.custom-btn{
  padding: 6px 10px;
  background-color: #fff;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  color: $dark-purple;
  text-decoration: none solid $dark-purple;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0;
}

.ant-select{
  width: 100% !important;
  font-family: Ubuntu;
  font-size: 14px;
  color: $light-gray-color;
  font-weight: bold;
  text-decoration: none solid rgb(200, 200, 232);
  .ant-select-selection{
    border-radius: 0;
    height: 41px;
    border: 1px solid $light-gray-color;
    border-radius: 2px;
    background-color: $pure-white;
  }
  .ant-select-selection-selected-value{
    padding: 7px 15px;
  }
}
.ant-select-dropdown{
  z-index: 1501 !important;
  display: block;
  border-radius: 0;
  font-family: Ubuntu;
  font-size: 14px;
  color: $light-gray-color;
  font-weight: bold;
  text-decoration: none solid $light-gray-color;
}
.ant-input{
  height: auto;
  font-family: Ubuntu;
  font-size: 14px;
  color: $light-gray-color;
  font-weight: bold;
  text-decoration: none solid rgb(200, 200, 232);
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: justify;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
