.flex-center {
	display: flex;
	justify-content: center;
}
.flex-right {
	display: flex;
	justify-content: flex-end;
}
.flex-left {
	display: flex;
	justify-content: flex-start;
}
.align-center {
  display: flex;
	align-items: center;
}
