// Import all base styles
@import "./fonts";
@import "./variables";
@import "./colors";
@import "./spacing";
@import "./flexbox";
@import "./size";
@import "./custom";
@import "./searchbar";
@import "./multiselect";
@import "./bootstraptable";
@import "./sweatalert";
