.search-input {
  padding: 10px 10px;
  height: 69px;
  position: relative;
}

.search-input::before {
  content: url('../assets/images/explore.svg');
  display: block;
  position: absolute;
  width: 30px;
  z-index: 3;
  height: 15px;
  font-size: $size-20;
  top: 31px;
  left: 20px;
  line-height: 32px;
  opacity: 1.0;
}

.search-input > input {
  width: 100%;
  border: 1px solid $light-gray-color;
  border-radius: 5px;
  line-height: 22px;
  padding: 5px 10px 5px 50px;
  height: 69px;
  position: relative;
  color: $light-gray-color;
  font-family: $ubuntu-regular;
  font-size: $size-20;
}

.search-input > input:focus {
  outline: none;
  height: 44px;
}
.set-cogs-search{
  .search-input {
    padding: 0px;
    height: 44px;
  }
  .search-input::before {
    top: 11px;
    left: 10px;
    width: 20px;
    height: 19px;
  }
  .search-input > input {
    padding: 0px 10px 0px 34px;
    border-radius: 0px;
    height: 44px;
    font-size: $size-16;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:$light-gray-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:$light-gray-color;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:$light-gray-color;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:$light-gray-color;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:$light-gray-color;
}

@media only screen and (max-width: 1300px) {
	.set-cogs-header{
		font-size: 13px;
	}
}
@media only screen and (max-width: 1100px) {
	.set-cogs-header{
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
	.set-cogs-header{
    font-size: .8em;
  }
}
@media only screen and (max-width: 767px) {
  .set-cogs-search{
    .search-input {
      height: 35px;
    }
    .search-input::before {
      top: 4px;
      left: 10px;
      width: 16px;
      height: 20px
    }
    .search-input > input {
      height: 35px;
      font-size: $size-14;
    }
  }
}
