.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.padding-t-5 {
	padding-top: 5px;
}
.padding-t-10 {
	padding-top: 10px;
}
.padding-t-15 {
	padding-top: 15px;
}
.padding-t-20 {
	padding-top: 20px;
}
.padding-t-30 {
	padding-top: 30px;
}
.padding-t-40 {
	padding-top: 40px;
}
.padding-t-50 {
	padding-top: 50px;
}
.padding-t-66 {
	padding-top: 66px;
}
.padding-t-70 {
	padding-top: 70px;
}
.padding-t-80 {
	padding-top: 80px;
}
.margin-t-5 {
  margin-top: 5px;
}
.margin-t-10 {
  margin-top: 10px;
}
.margin-t-20 {
  margin-top: 20px;
}
.margin-t-30 {
  margin-top: 30px;
}
.margin-t-40 {
  margin-top: 40px;
}
.margin-t-50 {
  margin-top: 50px;
}
.margin-t-60 {
  margin-top: 60px;
}
.padding-50 {
  padding: 50px;
}
.padding-r-0{
  padding-right: 0px;
}
.padding-left-right-100 {
	padding-left: 100px;
	padding-right: 100px;
}
.padding-left-right-50 {
	padding-left: 50px;
	padding-right: 50px;
}
.margin-40 {
	margin: 40px;
}
.margin-r-23{
  margin-right: 23px;
}
