.sweet-alert {
  font-family: $ubuntu;
  border-radius: $size-0;
  button {
    border-radius: $size-0;
  }
}

//-----sweet-alert 2 -----------
.swal2-container {
  font-family: $ubuntu;
  .swal2-popup {
    border-radius: $size-0 !important;
  }
  button {
    border-radius: $size-0 !important;
  }
  .swal2-popup .swal2-styled:focus {
    box-shadow: none;
  }
}
