/**
 * Define all the variables used througout the app
 */

//colors
$white-color: #fff;
$black-color: #000000;
$light-gray-color: #c8c8e8;
$main-blue-color: #575dde;
$main-red-color: #f02a1f;
$main-background-color: #ebebeb;
$main-decoration-color: rgb(29, 47, 181);

//font-size
$size-0: 0px;
$size-5: 5px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-15: 15px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-30: 30px;
$size-32: 32px;

//font-name
$ubuntu-bold: 'Ubuntu-Bold';
$ubuntu-regular: 'Ubuntu-Regular';
$ubuntu-light: 'Ubuntu-Light';
$lato-regular: 'Lato-Regular';