/**
 * Define all the colors used througout the app
 */

$white-color: #fff;
$black-color: #000000;
$light-gray-color: #c8c8e8;
$main-blue-color: #575dde;
$main-red-color: #f02a1f;
$main-background-color: #ebebeb;
$main-decoration-color: rgb(29, 47, 181);