.checkbox-personalized * {
  box-sizing: border-box;
}
td .checkbox-personalized {
  padding-top: 25px;
}

.checkbox-personalized input[type=checkbox] {
  display: none;
}
.checkbox-personalized label {
  margin: 0 auto;
  display: block;
  padding: 5px 0;
}
.checkbox-personalized label .check {
  margin: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #575dde;
  border-radius: 0px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.checkbox-personalized input[type=checkbox]:checked + label .check {
  background: #575dde;
  transition: all 0.2s ease-in;
  border: 1px solid #575dde;
}
.checkbox-personalized input[type=checkbox]:checked + label .check:after {
    content: '';
    display: block;
    width: 5px;
    height: 11px;
    border: solid #FFF;
    margin: 2px 7px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkbox-personalized input[type=checkbox]:indeterminate + label .check {
  background: #575dde;
  transition: all 0.2s ease-in;
  border: 1px solid #575dde;
}
.checkbox-personalized input[type=checkbox]:indeterminate + label .check:after {
  content: '';
  display: block;
  height: 11px;
  border: solid #FFF;
  margin: 2px 7px;
  border-width: 0 2px 0 0;
  transform: rotate(90deg);
}

.custom-select-body-class > tbody > tr > td:first-child {
  padding: 0 !important;
}

.custom-select-header-class > thead > tr > th:first-child {
  padding: 0 !important;
}
