.search-input {
  padding: 10px 10px;
  height: 69px;
  position: relative;
}

.search-input::before {
  content: url('../assets/images/explore.svg');
  display: block;
  position: absolute;
  width: 30px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 31px;
  left: 20px;
  line-height: 32px;
  opacity: 1.0;
}

.search-input > input {
  width: 100%;
  border: 1px solid #c8c8e8;
  border-radius: 5px;
  line-height: 22px;
  padding: 5px 10px 5px 50px;
  height: 69px;
  position: relative;
  color: #c8c8e8;
  font-family: Ubuntu;
  font-size: 20px;
}

.search-input > input:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:#c8c8e8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#c8c8e8;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#c8c8e8;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#c8c8e8;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:#c8c8e8;
}