.App .navbar {
  margin-top: 15px;
  font-family: Ubuntu;
  color: #ffffff;
}

.App .navbar-header{
  font-family: Ubuntu;
  color: white;
}

.App .navitem{
  font-family: Ubuntu;
  color: white;
}

.App .navbar-brand {
  font-weight: bold;
  font-family: Ubuntu;
  color: #ffffff;
}

a{
  font-family: Ubuntu;
  color: white;
}
