body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  font-size: 16px;
  color: white;
  background: linear-gradient(130deg, #9b86db, #0a406c);
  background-size: 400% 400%;

  -webkit-animation: HomePageAnimation 47s ease infinite;
  -moz-animation: HomePageAnimation 47s ease infinite;
  -o-animation: HomePageAnimation 47s ease infinite;
  animation: HomePageAnimation 47s ease infinite;

  @-webkit-keyframes HomePageAnimation {
    0% {background-position:0% 7%}
    50% {background-position:100% 94%}
    100% {background-position:0% 7%}
  }
  @-moz-keyframes HomePageAnimation {
    0% {background-position:0% 7%}
    50% {background-position:100% 94%}
    100% {background-position:0% 7%}
  }
  @-o-keyframes HomePageAnimation {
    0% {background-position:0% 7%}
    50% {background-position:100% 94%}
    100% {background-position:0% 7%}
  }
  @keyframes HomePageAnimation {
    0% {background-position:0% 7%}
    50% {background-position:100% 94%}
    100% {background-position:0% 7%}
  }
}

a{
  font-family: Ubuntu;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu;
  color: white
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

.navbar{
  background-color: transparent;
  border-color: transparent;
  font-family: Ubuntu;
}

input[type=file] {
  width: 100%;
}
