// Define body styles

body {
  width: $full-width;
  font-family: $ubuntu !important;
  overflow: auto;
  background-color: $main-background-color !important;
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

h1,h2,h3,h4,h5,h6,body {
  color: #2e4369;
}
